composer.lock
/lang/vendor
/public/vendor
/resources/js/partials/analytics/
/resources/js/partials/applications/
/resources/js/partials/campaigns/
/resources/js/partials/community/
/resources/js/partials/customers/
/resources/js/partials/dashboard/
/resources/js/partials/ecommerce/
/resources/js/partials/finance/
/resources/js/partials/fintech/
/resources/js/partials/inbox/
/resources/js/partials/invoices/
/resources/js/partials/job/
/resources/js/partials/messages/
/resources/js/partials/orders/
/resources/js/partials/settings/
/resources/js/partials/tasks/
/storage/clockwork/
