@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';

@import 'tailwindcss/utilities';

@import '../../public/fonts/Inter/web/inter.css';

[x-cloak] {
    display: none;
}

[data-remove-styles] * {
    all: initial;
}

@layer base {
    :root {
        --font-inter: 'Inter', sans-serif;
        --background: hsl(0 0% 100%);
        --foreground: hsl(0 0% 3.9%);
        --card: hsl(0 0% 100%);
        --card-foreground: hsl(0 0% 3.9%);
        --popover: hsl(0 0% 100%);
        --popover-foreground: hsl(0 0% 3.9%);
        --primary: hsl(0 0% 9%);
        --primary-foreground: hsl(0 0% 98%);
        --secondary: hsl(0 0% 96.1%);
        --secondary-foreground: hsl(0 0% 9%);
        --muted: hsl(0 0% 96.1%);
        --muted-foreground: hsl(0 0% 45.1%);
        --accent: hsl(0 0% 96.1%);
        --accent-foreground: hsl(0 0% 9%);
        --destructive: hsl(0 84.2% 60.2%);
        --destructive-foreground: hsl(0 0% 98%);
        --border: hsl(0 0% 89.8%);
        --input: hsl(0 0% 89.8%);
        --ring: hsl(0 0% 3.9%);
        --chart-1: #8370ff;
        --chart-2: hsl(173 58% 39%);
        --chart-3: hsl(197 37% 24%);
        --chart-4: hsl(43 74% 66%);
        --chart-5: hsl(27 87% 67%);
        --radius: 0.5rem;
        --sidebar-background: hsl(0 0% 98%);
        --sidebar-foreground: hsl(240 5.3% 26.1%);
        --sidebar-primary: hsl(240 5.9% 10%);
        --sidebar-primary-foreground: hsl(0 0% 98%);
        --sidebar-accent: hsl(240 4.8% 95.9%);
        --sidebar-accent-foreground: hsl(240 5.9% 10%);
        --sidebar-border: hsl(220 13% 91%);
        --sidebar-ring: hsl(217.2 91.2% 59.8%);
    }

    .dark {
        --font-inter: 'Inter', sans-serif;
        --background: hsl(221, 39%, 11%);
        --foreground: hsl(0 0% 98%);
        --card: hsl(215 28% 17%);
        --card-foreground: hsl(0 0% 98%);
        --popover: hsl(215 28% 17%);
        --popover-foreground: hsl(0 0% 98%);
        --primary: hsl(0 0% 98%);
        --primary-foreground: hsl(0 0% 9%);
        --secondary: hsl(0 0% 14.9%);
        --secondary-foreground: hsl(0 0% 98%);
        --muted: hsl(0 0% 14.9%);
        --muted-foreground: hsl(0 0% 63.9%);
        --accent: hsl(0 0% 14.9%);
        --accent-foreground: hsl(0 0% 98%);
        --destructive: hsl(0 62.8% 30.6%);
        --destructive-foreground: hsl(0 0% 98%);
        --border: hsl(0 0% 14.9%);
        --input: hsl(0 0% 14.9%);
        --ring: hsl(0 0% 83.1%);
        --chart-1: #8370ff;
        --chart-2: hsl(205, 97%, 70%);
        --chart-3: hsl(30 80% 55%);
        --chart-4: hsl(280 65% 60%);
        --chart-5: hsl(340 75% 55%);
        --sidebar-background: hsl(215 28% 17%);
        --sidebar-foreground: hsl(240 4.8% 95.9%);
        --sidebar-primary: hsl(224.3 76.3% 48%);
        --sidebar-primary-foreground: hsl(0 0% 100%);
        --sidebar-accent: hsl(240 3.7% 15.9%);
        --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
        --sidebar-border: hsl(240 3.7% 15.9%);
        --sidebar-ring: hsl(217.2 91.2% 59.8%);
    }
}

@layer base {
    * {
        @apply border-border;
        font-family: 'Inter', sans-serif !important;
    }

    body {
        @apply bg-background font-inter text-foreground;
    }
    html,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span {
        font-family: var(--font-inter), sans-serif !important;
    }
}

@media print {
    @page {
        size: A4;
        margin: 10mm;
    }

    * {
        @apply m-0 p-0;
    }
    body {
        background: white;
        margin: 0;
        padding: 0;
    }

    #app-header,
    #app-sidebar,
    #page-header,
    #card-footer,
    #sidebar-trigger {
        @apply hidden;
    }

    #card-page,
    #card-document {
        @apply border-none shadow-none;
        background: white;
        color: black;
    }

    #document-header div,
    #document-footer span,
    #document-lines h3 {
        color: black;
    }

    #page-document,
    #main-page,
    #sidebar-provider {
        @apply m-0 p-0;
        background: white;
    }

    #table-document,
    #table-document thead,
    #document-footer .document-footer-content {
        background: #e6e7ec !important;
        color: black;
    }

    #table-document tr th,
    #table-document tr td,
    #document-footer .document-footer-content {
        border-right: white solid 1px;
    }
    #table-document tr,
    #document-footer .document-footer-content {
        border-bottom: white solid 1px;
    }

    #table-document td,
    #document-footer .document-footer-content span {
        @apply pe-2 ps-2 text-[0.75em];
    }
}
