@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';

@import 'tailwindcss/utilities';

[x-cloak] {
    display: none;
}

[data-remove-styles] * {
    all: initial;
}

#gradientFirst {
    background: linear-gradient(to bottom, rgba(178, 150, 255, 0.8) 0%, rgba(187, 162, 255, 0.2) 70%, rgba(167, 139, 250, 0) 100%);
}

@layer base {
    :root {
        --background: hsl(0 0% 100%);
        --foreground: hsl(0 0% 3.9%);
        --card: hsl(0 0% 100%);
        --card-foreground: hsl(0 0% 3.9%);
        --popover: hsl(0 0% 100%);
        --popover-foreground: hsl(0 0% 3.9%);
        --primary: hsl(0 0% 9%);
        --primary-foreground: hsl(0 0% 98%);
        --secondary: hsl(0 0% 96.1%);
        --secondary-foreground: hsl(0 0% 9%);
        --muted: hsl(0 0% 96.1%);
        --muted-foreground: hsl(0 0% 45.1%);
        --accent: hsl(0 0% 96.1%);
        --accent-foreground: hsl(0 0% 9%);
        --destructive: hsl(0 84.2% 60.2%);
        --destructive-foreground: hsl(0 0% 98%);
        --border: hsl(0 0% 89.8%);
        --input: hsl(0 0% 89.8%);
        --ring: hsl(0 0% 3.9%);
        --chart-1: hsl(12 76% 61%);
        --chart-2: hsl(173 58% 39%);
        --chart-3: hsl(197 37% 24%);
        --chart-4: hsl(43 74% 66%);
        --chart-5: hsl(27 87% 67%);
        --radius: 0.5rem;
        --sidebar-background: hsl(0 0% 98%);
        --sidebar-foreground: hsl(240 5.3% 26.1%);
        --sidebar-primary: hsl(240 5.9% 10%);
        --sidebar-primary-foreground: hsl(0 0% 98%);
        --sidebar-accent: hsl(240 4.8% 95.9%);
        --sidebar-accent-foreground: hsl(240 5.9% 10%);
        --sidebar-border: hsl(220 13% 91%);
        --sidebar-ring: hsl(217.2 91.2% 59.8%);
    }

    .dark {
        --background: hsl(221, 39%, 11%);
        --foreground: hsl(0 0% 98%);
        --card: hsl(215 28% 17%);
        --card-foreground: hsl(0 0% 98%);
        --popover: hsl(215 28% 17%);
        --popover-foreground: hsl(0 0% 98%);
        --primary: hsl(0 0% 98%);
        --primary-foreground: hsl(0 0% 9%);
        --secondary: hsl(0 0% 14.9%);
        --secondary-foreground: hsl(0 0% 98%);
        --muted: hsl(0 0% 14.9%);
        --muted-foreground: hsl(0 0% 63.9%);
        --accent: hsl(0 0% 14.9%);
        --accent-foreground: hsl(0 0% 98%);
        --destructive: hsl(0 62.8% 30.6%);
        --destructive-foreground: hsl(0 0% 98%);
        --border: hsl(0 0% 14.9%);
        --input: hsl(0 0% 14.9%);
        --ring: hsl(0 0% 83.1%);
        --chart-1-1: hsl(248, 100%, 72%);
        --chart-1-2: hsl(256, 100%, 82%);
        --chart-1-3: hsl(255, 92%, 76%);
        --chart-2: hsl(205, 97%, 70%);
        --chart-3: hsl(30 80% 55%);
        --chart-4: hsl(280 65% 60%);
        --chart-5: hsl(340 75% 55%);
        --chart-6: hsl(220, 9%, 46%);
        --sidebar-background: hsl(215 28% 17%);
        --sidebar-foreground: hsl(240 4.8% 95.9%);
        --sidebar-primary: hsl(224.3 76.3% 48%);
        --sidebar-primary-foreground: hsl(0 0% 100%);
        --sidebar-accent: hsl(240 3.7% 15.9%);
        --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
        --sidebar-border: hsl(240 3.7% 15.9%);
        --sidebar-ring: hsl(217.2 91.2% 59.8%);
    }
    /* cyrillic-ext */
    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-display: fallback;
        src: url('../../public/fonts/Inter/static/Inter_400.woff2') format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-display: fallback;
        src: url('../../public/fonts/Inter/static/Inter_400.woff2') format('woff2');
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-display: fallback;
        src: url('../../public/fonts/Inter/static/Inter_400.woff2') format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-display: fallback;
        src: url('../../public/fonts/Inter/static/Inter_400.woff2') format('woff2');
        unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
    }
    /* vietnamese */
    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-display: fallback;
        src: url('../../public/fonts/Inter/static/Inter_400.woff2') format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-display: fallback;
        src: url('../../public/fonts/Inter/static/Inter_400.woff2') format('woff2');
        unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-display: fallback;
        src: url('../../public/fonts/Inter/static/Inter_400.woff2') format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-display: fallback;
        src: url('../../public/fonts/Inter/static/Inter_500.woff2') format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-display: fallback;
        src: url('../../public/fonts/Inter/static/Inter_500.woff2') format('woff2');
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-display: fallback;
        src: url('../../public/fonts/Inter/static/Inter_500.woff2') format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-display: fallback;
        src: url('../../public/fonts/Inter/static/Inter_500.woff2') format('woff2');
        unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
    }
    /* vietnamese */
    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-display: fallback;
        src: url('../../public/fonts/Inter/static/Inter_500.woff2') format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-display: fallback;
        src: url('../../public/fonts/Inter/static/Inter_500.woff2') format('woff2');
        unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-display: fallback;
        src: url('../../public/fonts/Inter/static/Inter_500.woff2') format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-display: fallback;
        src: url('../../public/fonts/Inter/static/Inter_600.woff2') format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-display: fallback;
        src: url('../../public/fonts/Inter/static/Inter_600.woff2') format('woff2');
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-display: fallback;
        src: url('../../public/fonts/Inter/static/Inter_600.woff2') format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-display: fallback;
        src: url('../../public/fonts/Inter/static/Inter_600.woff2') format('woff2');
        unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
    }
    /* vietnamese */
    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-display: fallback;
        src: url('../../public/fonts/Inter/static/Inter_600.woff2') format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-display: fallback;
        src: url('../../public/fonts/Inter/static/Inter_600.woff2') format('woff2');
        unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-display: fallback;
        src: url('../../public/fonts/Inter/static/Inter_600.woff2') format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-display: fallback;
        src: url('../../public/fonts/Inter/static/Inter_700.woff2') format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-display: fallback;
        src: url('../../public/fonts/Inter/static/Inter_700.woff2') format('woff2');
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-display: fallback;
        src: url('../../public/fonts/Inter/static/Inter_700.woff2') format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-display: fallback;
        src: url('../../public/fonts/Inter/static/Inter_700.woff2') format('woff2');
        unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
    }
    /* vietnamese */
    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-display: fallback;
        src: url('../../public/fonts/Inter/static/Inter_700.woff2') format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-display: fallback;
        src: url('../../public/fonts/Inter/static/Inter_700.woff2') format('woff2');
        unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-display: fallback;
        src: url('../../public/fonts/Inter/static/Inter_700.woff2') format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
}

@layer base {
    * {
        @apply border-border font-inter;
    }

    body {
        @apply bg-background text-foreground;
    }
}

@media print {
    @page {
        size: A4;
        margin: 10mm;
    }

    * {
        @apply m-0 p-0;
    }
    body {
        background: white;
    }

    #app-header,
    #app-sidebar,
    #page-header,
    #card-footer,
    #sidebar-trigger {
        @apply hidden;
    }

    #card-page,
    #card-document {
        @apply border-none shadow-none;
        background: white;
        color: black;
    }

    #document-header div,
    #document-footer span,
    #document-lines h3 {
        color: black;
    }

    #page-document,
    #main-page,
    #sidebar-provider {
        @apply m-0 p-0;
        background: white;
    }

    #table-document,
    #table-document thead,
    #document-footer .document-footer-content {
        background: #e6e7ec !important;
        color: black;
    }

    #table-document tr th,
    #table-document tr td,
    #document-footer .document-footer-content {
        border-right: white solid 1px;
    }
    #table-document tr,
    #document-footer .document-footer-content {
        border-bottom: white solid 1px;
    }

    #table-document td,
    #document-footer .document-footer-content span {
        @apply pe-2 ps-2 text-[0.75em];
    }
}
